
      /*
 * ----------------------------------------------------------------------------
 * FOOTER
 * ----------------------------------------------------------------------------
 */

 footer {
    font-size: 0.7rem;
    max-width: 100vw;
    overflow: hidden;
    margin: 35px 0 35px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
    
   .footer-line {
    display: flex;
    justify-content: center;
    background-color: #aed5b2;
    width: 90vw;
    height: 3px;
    border-radius: 10px;
   }
    
   .category-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
   }
    
   .footer-category {
    display: flex;
    flex-direction: column;
   }
    
   .footer-title {
    font-weight: 400;
    font-size: 1rem;
    margin-top: 35px;
    margin-bottom: 8px;
   }
    
   .footer-link {
    text-decoration: none;
    color: black;
    margin-top: 5px;
   }
    
   .footer-link:hover {
    color: rgb(122, 122, 122);
   }
    
   .footer-pic {
    display: flex;
    flex-direction: row;
    gap: 15px;
   }
    
   .footer-social {
    display: flex;
    width: 30px;
    height: auto;
   }
    
   .footer-pay {
    height: 20px;
    width: auto;
   }
    
   .address-footer {
    text-align: center;
   }
   