body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    background-color: #F5F5F5;
}

textarea:focus, input:focus{
    outline: none;
  }

  *:focus {
    outline: none;
  }
  
  .hidden {
    display: none;
  }
/*
 * ----------------------------------------------------------------------------
 * ANNOUNCEMENT BAR
 * ----------------------------------------------------------------------------
 */
 .AnnouncementBar {
    position: relative;
    text-align: center;
    font-size: 10px;
    z-index: 1;
    background-color: black;
}

.AnnouncementBar a, :visited, ul, a {
    list-style: none;
    text-decoration: none;
    color: white; 
}

.AnnouncementBar__Wrapper {
    padding: 12px 15px;
}

.AnnouncementBar__Content {
    color: inherit;
    margin: 0;
}

span {
    font-size: 11px;
    letter-spacing: 0.1em;
    text-align: right;
    color: #fff;
    }

@media screen and (min-width: 641px) {
    .AnnouncementBar {
        font-size: 11px;
    }
}

/*
 * ----------------------------------------------------------------------------
 * NAV
 * ----------------------------------------------------------------------------
 */
nav {
    margin: 0;
    max-width: 100%;
    height: 200px;
    flex-direction: column;
    background-size: cover;
    background: rgba(0, 0, 0, 0.15);
border: 1px solid rgba(0, 0, 0, 0.5);
text-align-last: justify;
padding: 0 50px 0 50px;
z-index: 2;
}

nav:hover {
    background: rgba(0, 0, 0, 0.66);
    transition: ease-in 0.3s;
}

input {
font-family: "Raleway", sans-serif;
width: 250px;
height: 30px;
background: transparent;
font-size: 11px;
letter-spacing: 0.1em;
text-align: left;
border: solid white 1px;
}

.logo {
    width: 350px;
    padding-top: 20px;
}

li {
    padding-top: 10px;
    display: inline-block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 16px;
    letter-spacing: 0.1em;
}

/*
 * ----------------------------------------------------------------------------
 * BCKGR
 * ----------------------------------------------------------------------------
 */
.background {
    height: 90%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 38px;
    object-fit: cover;
}

.down {
border-radius: 50%;
position: absolute;
top: 94vh;
left: 50%;
border: 1px solid black;
background-color: white;
}

/*
 * ----------------------------------------------------------------------------
 * NEWIN
 * ----------------------------------------------------------------------------
 */

 #newin {
    padding: 0 50px 0 50px;
    margin-top: 65vh;
    height: 100vh;
  }

  .newsummer {
    font-size: 20px;
    letter-spacing: 0.2em;
    text-align: center;   
  }

  .new21 {font-size: 35px;
    letter-spacing: 0.2em;
    color: #000;
  }

  .listing {
    list-style: none;
    display: grid;
    gap: 20px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(4,minmax(150px, 1fr));
    text-align-last: justify;
  }
  
  .bag {
      width: 150px;
  }

  h1 {
    font-size: 12px;
    letter-spacing: 0.06em;
    color: #000;
    font-weight: normal;
    text-align-last: left;
  }

  h2 {font-size: 12px;
    text-align: center;
    color: #000;
    font-weight: bold;
  }

  .bw {
    margin:0 auto; 
    display:block;
    font-size: 10px;
    letter-spacing: 0.2em;
    text-align: center;
    color: #fff;
    width: 250px;
height: 50px;
background: black;
border: none;
  }

  /*
 * ----------------------------------------------------------------------------
 * SHOP OUR LOOKS
 * ----------------------------------------------------------------------------
 */