
textarea:focus, input:focus{
    outline: none;
  }

  *:focus {
    outline: none;
  }

  main {
    margin-top: 250px;
  }

/*
 * ----------------------------------------------------------------------------
 * ANNOUNCEMENT BAR
 * ----------------------------------------------------------------------------
 */
 .AnnouncementBar {
    position: relative;
    text-align: center;
    font-size: 10px;
    z-index: 1;
    background-color: black;
}

.AnnouncementBar a, :visited, ul, a {
    list-style: none;
    text-decoration: none;
    color: white; 
}

.AnnouncementBar__Wrapper {
    padding: 12px 15px;
}

.AnnouncementBar__Content {
    color: inherit;
    margin: 0;
}

nav span {
    font-size: 11px;
    letter-spacing: 0.1em;
    text-align: right;
    color: #fff;
    }

@media screen and (min-width: 641px) {
    .AnnouncementBar {
        font-size: 11px;
    }
}

/*
 * ----------------------------------------------------------------------------
 * NAV
 * ----------------------------------------------------------------------------
 */
nav {
    margin: 0;
    max-width: 100%;
    height: 175px;
    flex-direction: column;
    background-size: cover;
    background: rgba(0, 0, 0, 0.3);
border: 1px solid rgba(0, 0, 0, 0.1);
text-align-last: justify;
padding: 0 50px 0 50px;
z-index: 2;
}

.hidden {
    display: none;
  }

  #navbar {
      z-index: 5;
    position: fixed;
    min-width: 100%;
    top: 0;
    transition: ease-in-out 0.5s;
}

.blurred {
    backdrop-filter: blur(5px);
    transition: ease-in-out 0.1s;
}

nav:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transition: ease-in 0.2s;
  }
 

input {
font-family: "Raleway", sans-serif;
width: 250px;
height: 30px;
background: transparent;
font-size: 11px;
letter-spacing: 0.1em;
text-align: left;
border: solid white 1px;
}

::-webkit-input-placeholder { /* Edge */
    color: rgb(137, 137, 137);
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(137, 137, 137);
  }
  
  ::placeholder {
    color:rgb(213, 213, 213);
  }

.logo {
    width: 300px;
    padding-top: 20px;
    position: relative;
    left: -6%;
}

li {
    padding-top: 10px;
    display: inline-block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 16px;
    letter-spacing: 0.1em;
}

ul a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }

ul a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
ul a:hover:after { 
  width: 100%; 
  left: 0; 
}

/*
 * ----------------------------------------------------------------------------
 * NEWSLETTER
 * ----------------------------------------------------------------------------
 */

 h3 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.2rem;
  letter-spacing: 0.15em;
 }

 .signuptext {
   font-size: 10px;
   letter-spacing: 0.15em;
   width: 350px;
   margin: auto;
   line-height: 1.3em;
 }

 #newsletter {
  width: 60px;
  height: 45px;
  border-radius: 26px 0px 0px 26px;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  position: fixed;
  bottom: 35px;
  right: 0;
  background-image: url(img/mail.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  border: solid black 1px;
 }

 #newsletter:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  transition: ease-in-out 0.5s;
 }

/* Full-width input fields */
input[type=text] {
  width: 60%;
  padding: 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}


.signupbtn {
  float: center;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 6; /* Sit on top */
  left: 0;
  top: 0;
  width: 500px; 
  height: 450px; 
  overflow: hidden;
  padding-top: 250px;
  margin-left: 0;
  padding-left: 30vw;
  text-align-last: center;

}

label {
  font-size: 13px;
  letter-spacing: 0.1em;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 200px;
  font-size: 40px;
  font-weight: bold;
  color: #000000;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .signupbtn {
     width: 100%;
  }
}

button a:hover {
  color: black;
}